<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Nopackage" >
    <classes>
       <class name="PracticePackage.MyClass" />
       <class name="PracticePackage.MyClass1" />
       <class name="PracticePackage.MyClass2" />
    </classes>
  </test>
 
 </suite>
